.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00c888;
}

.menuitem {
  float: left;
}
body {
  background-color: rgb(22, 22, 22);
}

.menuitem {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.menuitem a {
  color: blue
}

.menuitem:hover {
  background-color: #0ee5fb;
}

.plaatje {
  color:white;
}

.myDiv {
border: 5px outset #0eb701;
background-color: #ae5adb;
text-align: center;
font-family: comic sans ms;
}

a {
  color: white;
}
h2 {
  color: white;
}
p {
  color: white;
}